# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Env
venv/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Migrations cache
*/migrations/*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage
